<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cursoNTecnologias.bd.mappers.DireccionMapper">
  <resultMap id="BaseResultMap" type="cursoNTecnologias.bd.domain.Direccion">
    <id column="idDireccion" jdbcType="INTEGER" property="iddireccion" />
    <result column="calle" jdbcType="VARCHAR" property="calle" />
    <result column="numero" jdbcType="INTEGER" property="numero" />
    <result column="colonia" jdbcType="VARCHAR" property="colonia" />
    <result column="ciudad" jdbcType="VARCHAR" property="ciudad" />
    <result column="estado" jdbcType="VARCHAR" property="estado" />
    <result column="pais" jdbcType="VARCHAR" property="pais" />
    <result column="codigoPostal" jdbcType="INTEGER" property="codigopostal" />
  </resultMap>
  
  <select id= "listarDireccion" resultMap="BaseResultMap">
  	select * from direccion
  </select>  
  <select id="direccionId" resultMap="BaseResultMap" parameterType="Integer">
	SELECT * from direccion WHERE idDireccion = #{id}
  </select>
  
  <insert id="insertarDireccion" parameterType="cursoNTecnologias.bd.domain.Direccion" >
  INSERT INTO direccion(calle, numero, colonia, ciudad, estado, pais, codigopostal)
  VALUES
  (#{calle}, #{numero}, #{colonia}, #{ciudad}, #{estado}, #{pais}, #{codigopostal})
  </insert>
  
  <delete id="eliminarDireccion" parameterType="cursoNTecnologias.bd.domain.Direccion">
  DELETE FROM direccion 
  WHERE iddireccion=#{iddireccion}
  </delete>
  
  <update id="actualizarDireccion" parameterType="cursoNTecnologias.bd.domain.Direccion">
  UPDATE direccion SET 
  calle=#{calle}, numero=#{numero},colonia=#{colonia},ciudad=#{ciudad},estado=#{estado}, pais=#{pais}, codigopostal=#{codigopostal} 
  WHERE iddireccion=#{iddireccion}
  </update>
	
  <select id="obtenerDireccionPorId" resultMap="BaseResultMap" parameterType="hashMap">
  	SELECT * FROM direccion
  	WHERE iddireccion = #{iddireccion}
  </select>
</mapper>


	
