<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cursoNTecnologias.bd.mappers.GananciasMapper">
  <resultMap id="BaseResultMap" type="cursoNTecnologias.bd.domain.Ganancias">
    <id column="idGanancia" jdbcType="INTEGER" property="idganancia" />
    <result column="ventaId" jdbcType="INTEGER" property="ventaid" />
    <result column="totalGanancia" jdbcType="DOUBLE" property="totalganancia" />
    <result column="fecha" jdbcType="DATE" property="fecha" />
  </resultMap>
  
  <resultMap id="BaseResultMapGananciasVentas" type="cursoNTecnologias.bd.domain.Ganancias">
    <id column="idGanancia" jdbcType="INTEGER" property="idganancia" />
    <result column="ventaId" jdbcType="INTEGER" property="ventaid" />
    <result column="totalGanancia" jdbcType="DOUBLE" property="totalganancia" />
    <result column="fecha" jdbcType="DATE" property="fecha" />
    
    
    <association property="venta" column="ventaId" 
    javaType="cursoNTecnologias.bd.domain.Ventas"
    select="cursoNTecnologias.bd.mappers.VentasMapper.queryVentasByVentaId"/>
  </resultMap>
  
  <select id="queryAllGanancias" resultMap="BaseResultMapGananciasVentas">
	SELECT idGanancia, ventaId, totalGanancia, fecha FROM ganancias
  </select>
  
  <select id="queryGananciaByVentaId" resultMap="BaseResultMapGananciasVentas" parameterType="Integer">
	SELECT * FROM ganancias as g
	INNER JOIN ventas as v
	WHERE g.ventaid=v.idVenta and g.idGanancia=#{gananciaId}
  </select>
  
  <insert id="insertGanancia" parameterType="cursoNTecnologias.bd.domain.Ganancias" >
	INSERT INTO ganancias (ventaId, totalGanancia) 
	VALUES
	(#{ventaid}, #{totalganancia})
  </insert>
  
  <update id="updateGanancia" parameterType="cursoNTecnologias.bd.domain.Ganancias">
  	UPDATE ganancias SET
   		idGanancia = #{idganancia},
    	ventaId = #{ventaid},
    	totalGanancia = #{totalganancia},
    	fecha = #{fecha}
   	WHERE idGanancia = #{idganancia}
  </update>
    
  <delete id="deleteGanancia" parameterType="Integer">
  	DELETE FROM ganancias WHERE idGanancia = #{gananciaId}
  </delete>
</mapper>