<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cursoNTecnologias.bd.mappers.MarcasMapper">
  <resultMap id="BaseResultMap" type="cursoNTecnologias.bd.domain.Marcas">
    <id column="idMarca" jdbcType="INTEGER" property="idmarca" />
    <result column="nombreMarca" jdbcType="VARCHAR" property="nombremarca" />
  </resultMap>
  
  
  <select id="obtenerMarcaId" resultMap="BaseResultMap" parameterType="Integer">
	SELECT * from marcas WHERE idMarca = #{id}
  </select>
  
  <select id="obtenerTodasMarca" resultMap="BaseResultMap" >
	SELECT * from marcas 
  </select>
  
  <insert id="agregarMarca" parameterType="cursoNTecnologias.bd.domain.Marcas">
  	INSERT INTO marcas(nombreMarca) VALUES (#{nombremarca})
  </insert>
  
  <delete id="deleteMarca" parameterType="Integer">
  	delete from marcas where idMarca=#{idmarca}
  </delete>
  
  <update id="updateMarca" parameterType="cursoNTecnologias.bd.domain.Marcas">
  	update marcas  set nombreMarca=#{nombremarca} where idMarca= #{idmarca}
  </update>
  
</mapper>