<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cursoNTecnologias.bd.mappers.ProductosMapper">
  <resultMap id="BaseResultMap" type="cursoNTecnologias.bd.domain.Productos">
    <id column="idProducto" jdbcType="INTEGER" property="idproducto" />
    <result column="nombre" jdbcType="VARCHAR" property="nombre" />
    <result column="precio" jdbcType="DOUBLE" property="precio" />
    <result column="precioVta" jdbcType="DOUBLE" property="preciovta" />
    <result column="cantidad" jdbcType="INTEGER" property="cantidad" />
    <result column="marcaId" jdbcType="INTEGER" property="marcaid" />
  </resultMap>
  
  <resultMap id="resultProductosMarca" type="cursoNTecnologias.bd.domain.Productos">
    <id column="idProducto" jdbcType="INTEGER" property="idproducto" />
    <result column="nombre" jdbcType="VARCHAR" property="nombre" />
    <result column="precio" jdbcType="DOUBLE" property="precio" />
    <result column="precioVta" jdbcType="DOUBLE" property="preciovta" />
    <result column="cantidad" jdbcType="INTEGER" property="cantidad" />
    <result column="marcaId" jdbcType="INTEGER" property="marcaid" />
    <association property="marcas" column="marcaId" resultMap="cursoNTecnologias.bd.mappers.MarcasMapper.BaseResultMap"/>
  </resultMap>
  
  <select id="listarTodosProductosMarca" resultMap="resultProductosMarca">
  	select * from productos inner join marcas where productos.marcaId = marcas.idMarca
  </select>
  
  <select id="productoMarca" resultMap="resultProductosMarca" parameterType="Integer">
  	select * from productos as p inner join marcas as m where p.marcaId = m.idMarca and idproducto=#{id}
  </select>
  
  <select id="listarProductos" resultMap="BaseResultMap">
    	SELECT * FROM productos
	</select>  
  	
 	<insert id="agregarProducto" parameterType="cursoNTecnologias.bd.domain.Productos">
 		insert into productos (nombre, precio,precioVta,cantidad,marcaId)
  		values (#{nombre},#{precio},#{preciovta},#{cantidad},#{marcaid})
  	</insert>
  
  	<update id = "updateProducto" parameterType="cursoNTecnologias.bd.domain.Productos" > 
  		update productos set
   		nombre = #{nombre},
    	precio = #{precio},
    	precioVta = #{preciovta},
    	cantidad = #{cantidad},
    	marcaId = #{marcaid}
   		where idproducto= #{idproducto}
  	</update>
  
 	<delete id="deleteProducto" parameterType="cursoNTecnologias.bd.domain.Productos">
 	 delete from productos where id = #{idproducto}
	</delete>
</mapper>